<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionStringDB" value="mongodb://vt-tresoric"/>
    <add key="Database" value="NTTTube"/>
    <add key="FtpServer" value="ntt-mediaservice.cloudapp.net"/>
    <add key="FtpFolder" value="/video/"/>
    <add key="FtpUser" value="myuser"/>
    <add key="FtpPassword" value="mypass"/>
  </appSettings>
</configuration>